#Host do banco
DB_HOST=
#Usuário do banco de dados
DB_USER=
#Senha do banco de dados
DB_PASSWORD=
#Base que será utilizada
DB_DATABASE=
#E-mail padrão para envio
MAIL_DEFAULT_SENDER
#Servidor SMTP
MAIL_SERVER
#Porta de e-mail 
MAIL_PORT
#usar tls
MAIL_USE_TLS
#Usuario e-mail
MAIL_USERNAME
#E-mail password
MAIL_PASSWORD