#Host do banco
DB_HOST=
#Usuário do banco de dados
DB_USER=
#Senha do banco de dados
DB_PASSWORD=
#Base que será utilizada
DB_DATABASE=
#Porta que será utilizada no banco 
DB_PORT=
#Secret key utilizada para criptografar o token
SECRET_KEY=
#Algoritimo de criptografia que será utilizado
ALGORITHM=
#Tempo de expiração do token
ACCESS_TOKEN_EXPIRE_MINUTES=
#E-mail padrão para envio
MAIL_DEFAULT_SENDER
#Servidor SMTP
MAIL_SERVER
#Porta de e-mail 
MAIL_PORT
#usar tls
MAIL_USE_TLS
#Usuario e-mail
MAIL_USERNAME
#E-mail password
MAIL_PASSWORD