<footer class="class-footer bg-dark text-light mt-5">
    <div class="container py-4">
        <div class="row">
            <!--
            <div class="col-md-6">
                <h5>Meu Site Flask</h5>
                <p class="mb-0">
                    Exemplo de componentização com Flask e Jinja2
                </p>
            </div>
            
            <div class="col-md-3">
                <h6>Links Úteis</h6>
                <ul class="list-unstyled">
                    <li><a href="{ { url_for('home') } }" class="text-light text-decoration-none">Home</a></li>
                    <li><a href="{ { url_for('about') } }" class="text-light text-decoration-none">Sobre</a></li>
                    <li><a href="{ { url_for('contact') } }" class="text-light text-decoration-none">Contato</a></li>
                </ul>
            </div>
            
            <div class="col-md-3">
                <h6>Redes Sociais</h6>
                <div class="d-flex gap-2">
                    <a href="#" class="text-light">
                        <i class="fab fa-facebook-f"></i>
                    </a>
                    <a href="#" class="text-light">
                        <i class="fab fa-twitter"></i>
                    </a>
                    <a href="#" class="text-light">
                        <i class="fab fa-instagram"></i>
                    </a>
                    <a href="#" class="text-light">
                        <i class="fab fa-linkedin-in"></i>
                    </a>
                </div>
            </div>
            -->
        </div>
        <hr class="my-3">
        <div class="text-center">
            <small>&copy; Genrenciamento de Livros. Todos os direitos reservados.</small>
        </div>
    </div>
</footer>