<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container">
        <a class="navbar-brand" href="/">
            <i class="fas fa-home me-2"></i>Gerenciamento de Livros
        </a>
        
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
            <span class="navbar-toggler-icon"></span>
        </button>
        
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav me-auto">
                <li class="nav-item">
                    <a class="nav-link {% if request.endpoint == 'home' %}active{% endif %}" 
                       href="/">
                        Home
                    </a>
                </li>                
                <li class="nav-item">
                    <a class="nav-link {% if request.endpoint == 'about' %}active{% endif %}" 
                       href="/about">
                        Sobre
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link {% if request.endpoint == 'listar_usuarios' %}active{% endif %}" 
                       href="/usuarios">
                        Lista de Usuários
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/logout">Sair</a>
                </li>
                <!--
                <li class="nav-item">
                    <a class="nav-link { % if request.endpoint == 'contact' % }active{ % endif % }" 
                       href="{ { url_for('contact') } }">
                        Contato
                    </a>
                </li>
                -->
            </ul>
            
            <!-- Componente de usuário - #AJUSTAR
            { % if user % }
                { % include 'components/user_menu.html' % }
            { % else % }
                <div class="navbar-nav">
                    <a class="nav-link" href="/login">Login</a>
                </div>
            { % endif % }-->
        </div>
    </div>
</nav>